{% extends 'master.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<div class="about-container">
    <div class="row">
        <div class="col-lg-12">
<h1 id="aboutus">ABOUT US</h1></div>
</div>
<div class="row">
    <div class="col-lg-6 about-img"><img src="{% static 'images/login-page7.webp' %}" alt=""></div>
    <div class="col-lg-6"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque corporis modi minima eum perspiciatis neque nisi eveniet suscipit voluptatibus, sapiente necessitatibus officiis libero placeat quod facilis. Velit obcaecati tempora repudiandae!</p></div>
</div>
</div><br><br><br><br><br><br>
{% endblock %}
